@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
} 
:root{
    --primary-color: #efb3e3;
    --gray-color: #54595F;
    --ligth-gray: #b5b5b5;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header__image{
    width: 100px;   
}
.header__figure{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.header a{
    font-size: 20px;
}


.nombre{
    color: var(--primary-color);
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header__link{
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
}
.header__link:hover{
    text-decoration: underline;
}
.main__title,
.content__title{
    color: var(--primary-color);
    margin: 20px 0 20px 0;
}
    
.main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__gallery{
    display: flex;
    justify-content: space-between;
}

.card__title{
    color: var(--primary-color);
}
.container{
    max-width: 1200px;
    width: 100%;
}
    
.aside{
    margin: 30px 0 30px 0;
    display: flex;
    justify-content: center;
}
.form{
    width: 100%;
    max-width: 1200px;
    margin-bottom: 30px;
}
.form__content{
    display: flex;
    flex-direction: column;
}
.form__content label input, .form__content label textarea{
    width: 100%;
    background-color: var(--ligth-gray);
    margin-top: 10px;
    border: none;
}
.form__content label textarea{
    height: 100px;
}
.form__btn{
    margin-top: 10px;
    padding: 10px;
    background-color: var(--primary-color);
    border:  none;
    border-radius: 10px;
    color: white;
}

.footer {
    background-color: #2C3E50;
    color: #ECF0F1;
    padding: 40px 0;
    text-align: center;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer__item {
    flex: 1;
    min-width: 250px;
    margin: 10px;
}

.footerItem__title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
    color: #E74C3C;
}

.footer__content {
    font-size: 1rem;
}

.footer__p {
    margin: 5px 0;
    color: #BDC3C7;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.footer__p:hover {
    color: #E74C3C;
}

.footer a {
    display: block;
    text-decoration: none;
    color: #BDC3C7;
    transition: color 0.3s;
}

.footer a:hover {
    color: #E74C3C;
}

/* Diseño responsivo */
@media (max-width: 768px) {
    .footer_container {
        flex-direction: column;
        text-align: center;
    }
}


@media screen and (max-width: 568px) { 
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }

    .navigation{
        flex-direction: column;
    }

}

@media screen and (max-width: 768px) { 
    .header{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
    }
    .main__title{
        text-align: center;
    }

    .container{
        padding: 10px;
    }

    .form__content{
        padding: 20px;
    }

    .card__title{
        text-align: center;
    }
    .form__title{
        text-align: center;
    }

    .main__gallery{
        flex-direction: column;
        align-items: center;
    }
    .footer_container{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        
    }
}